{% extends "base.html" %}

{% block content %}

<head>
    <title>Application Firewall Policy</title>
</head>

<div class="container body-content">
<h1>Create App FW Policy</h1>
<body>
<!-- button for session sorting -->
    <button onclick="location.href = '/report_apps';" class="btn btn-primary" >By Apps</button>
    <button onclick="location.href = '/report_sessions';" class="btn btn-success" >By Sessions</button>
    <button onclick="location.href = '/report_kbytes';" class="btn btn-info" >By Kbytes</button>
    <button onclick="location.href = '/report_risk';" class="btn btn-danger" >By Risk</button>
    <br>
<!-- Generate a HTML table from a list of tuples (or list of lists, or tuple of tuples or ...) -->

<p>Build FW policy to block these applications<p>
<br>
<table style="width: auto;" class="table table-bordered table-condensed table-hover table-striped">
  <tr>
    <th>Applications</th>
  </tr>
{% for row in {{app_list}} %}
  <tr>
<!--   %for col in row: -->
    <td>{{row['name']}}</td>
{% endfor %}
  </tr>
</table>

</body>
</div>

{% endblock %}
