{% extends "base.html" %}

{% block content %}

<head>
    <title>Application Firewall Report</title>
</head>

<div class="container body-content">
<h2>Application FW Policy</h2>
<body>


<p>Creating the following reports:<p>
<br>
<form action="/report_apps" method="get">
<table style="width: auto;" class="table table-bordered table-condensed table-hover table-striped">
  <tr>
    <th>Applications</th>
  </tr>
{% for row in reports %}
  <tr>
<!--   %for col in row: -->
    <td>{{ row }}</td>
{% endfor %}
  </tr>
</table>

<div> 
<p></p>
</div> 

<br>
  <input value="Confirm" type="submit" />
</form>

</body>
</div>

{% endblock %}
