{% extends "base.html" %}
{% block content %}

<html>
<head>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
  <script type="text/javascript">
    function draw(data){
      var svg = dimple.newSvg("body",650,400);
      var chart = new dimple.chart(svg, data);
      chart.x = 200;
      chart.ease = "elastic";
      chart.addCategoryAxis("y", "_id");
      chart.addMeasureAxis("x", "app_count");
      chart.addSeries(null, dimple.plot.bar);
      chart.draw();
    };
  </script>
</head>
<h2 class="row"> Application Sub-Categories</h2>
<body>
<div id='chartContainer'>
  <script type="text/javascript">
    d3.json("/subcategory_data", draw);
  </script>
</div>
</body>
</html>

{% endblock %}

